<body id= "background-pic">
<div class="container-fluid">
  <div class="jumbotron" id="jumbo">
    <h2 class="about-heading"><span class="welcome-text">Welcome to Geo Prosper</h2>
      <p id="info-block">
      Luctus tristique, diam enim tristique ante, non scelerisque libero neque in turpis. Aenean vehicula tempus odio nec pellentesque. Donec nunc eros, laoreet vitae tincidunt sed, aliquam vel nunc. Morbi sed arcu vitae erat vehicula iaculis quis efficitur dolor. Nulla pharetra fringilla semper. Pellentesque lectus odio, pharetra at lacus nec, convallis scelerisque nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam vel eros id ante semper sagittis. Phasellus at dapibus lorem.

      Praesent neque dolor, placerat id enim in, efficitur dignissim metus. Proin imperdiet sem sollicitudin efficitur ultricies. Donec suscipit, purus non porta rhoncus, sapien lorem ullamcorper tellus, quis iaculis nulla turpis a nisl. Nam ut quam eget arcu sollicitudin dictum in non dolor. Donec et ultricies arcu. Proin eleifend sem purus, non consectetur ante finibus sed. Aliquam pretium in nisi tincidunt varius. Donec convallis vehicula felis, at egestas justo posuere eget. Vivamus feugiat, dolor non molestie consectetur, sem mauris interdum neque, sed mollis massa enim id massa. Pellentesque imperdiet arcu ut turpis vehicula convallis. Vivamus neque ex, volutpat quis mauris et, auctor venenatis erat. Ut mi massa, sagittis varius turpis vitae, fringilla malesuada eros. Fusce rutrum porttitor porta. Ut tempus libero leo.

      <br><br> Vivamus neque ex, volutpat quis mauris et, auctor venenatis erat.
      </p>
  </div>
</div>
