<body id= "background-pic">
<div class="container-fluid">
  <div class="jumbotron" id="jumbo">
    <h2 class="about-heading"><span class="welcome-text">Welcome to Geo Prosper</h2>
      <p id="info-block">
      Geo-Prosper wants to help you find best pace to live in the US. Apart from anecdotal advice, do you know what city offers you the highest salary, best job market for your industry, lowest cost of living, and all around nicest place to live?

      <br><br> <%= link_to "Take The Survey to find your city.", new_job_path %>
      </p>
  </div>
</div>
