<body id= "background-pic">
<div class="container-fluid">
  <div class="jumbotron" id="jumbo">
    <h2 class="about-heading"><span class="welcome-text">Welcome to Geo Prosper</h2>
      <p id="info-block">
      Geo-Prosper wants to help you find best pace to live in the US. Apart from anecdotal knowledge about cities in the US, do you know what location offers the highest salary for your job, best job market for your industry, lowest cost of living?

      <br><br>
      <button class=class="btn btn-info"><%= link_to "Take The Survey to find your city.", new_job_path %></button>
      </p>
  </div>
</div>
