html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

/* new survey page*/
#new {
  background: url(https://upload.wikimedia.org/wikipedia/commons/f/fa/Pagosa-Springs_The-Springs-Resort-and-Spa_2012-10-24.JPG) no-repeat center center fixed;
  background-size: cover;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#main-survey-div {
  background: RGBA(248, 248, 248, .5);
  background-size: cover;
  padding: 20px;
  font-size: 15px;
  position: absolute;
  margin-top: 8%;
  margin-bottom: 8%;

}

/* job show page*/
#background-show-page {
  background: RGBA(93, 153, 200, 1);
  font-family:'Alegreya Sans', sans-serif;
}

#city-ranking-pic {
  background: url(https://pixabay.com/static/uploads/photo/2013/07/12/15/54/chicago-150543_960_720.png) no-repeat center center fixed;
  background-size: cover;
  height: 10%;
}

#ranking-table {
  border-spacing: 10px;
  border-collapse: separate;
  background: RGBA(193, 193, 193, 1);
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 3px 4px 2px 0px rgba(0,0,0,0.75);
  width: 30%;
}

#top-cities {
  text-align: center;
}

canvas {
  background: RGBA(255, 255, 255, 1);
  height: 400px;
  width: 600px;
  padding: 20px;
  margin-left: 10px;
  border-radius: 15px;
  box-shadow: 3px 4px 2px 0px rgba(0,0,0,0.75);
  font-weight: bold;
}

#salary-content {
  height: 100px;
  width: 300px;
  padding-top: 100px;
  color: white;
  font-size: 18px;

}

#background {
  background: RGBA(49, 55, 66, 1);
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 3px 4px 2px 0px rgba(0,0,0,0.75);
  text-align: center;
}

#industry  {
  margin: 20px;
}

#titles {
  font-family:'Alegreya Sans', sans-serif;
  color: white;
  margin-left: 50px
}


/* industry table*/
.list {
  font-family: 'Alegreya Sans', sans-serif;
  height: 400px;
  width: 600px;
}

#industries-list {
  background: RGBA(255, 255, 255, 1);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
}

#td {
  padding:10px;
  font-size: 16px;
  text-align:center;
  vertical-align:middle;
}

#input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
#input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}

/*city show page*/

#city-title {
  height: 200px;
  background: url(https://cdn.artaic.com/wp-content/uploads/2015/03/artaic-blue-cityscape-cityscape-seaside-tile-0305414-900x600.jpg) no-repeat center center fixed;
  background-size: cover;
  color: black;
}

#city-show-page {
  background: RGBA(81, 152, 203, 1);
}

#city-details {
  margin: 30px;
  padding: 20px;
  height: 250px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 3px 4px 2px 0px rgba(0,0,0,0.75);
  background: RGBA(191, 236, 248, 1);
}

#city-details-content {
  margin: 30px;
  padding: 20px;
  height: 250px;
  width: 70%;
  border-radius: 15px;
  box-shadow: 3px 4px 2px 0px rgba(0,0,0,0.75);
  background: RGBA(191, 236, 248, 1);
}

#open-housing {
  padding-top: .5em;
  padding-left: 40px;
  font-size: 70px;
}

#population {
  padding-top: .5em;
  padding-left: 10%;
  font-size: 40px;
}

#footer {
  height: 100px;
  background-color: RGBA(126, 119, 119, .7);
}

/*footer*/
#census-ref {
  margin-top: 20px;
  font-size: 20px;
  color: white;
  a: red;
}


/*navbar*/

#logo {
  font-size: 20px;
}

/* progress bar page */
#progress-bar {
  width: 500px;
  height: 50px;
  margin-left: auto ;
  margin-right: auto ;
  background: RGBA(151, 151, 151, .5)
}








